<%= semantic_form_for [:admin, resource] do |f| %>
  <%= f.inputs "Актуально сегодня" do %>
    <%= f.input :actual_article %>
    <%= f.input :actual_article_description %>
  <% end %>

  <%= f.inputs "Баннер в списке статей" do %>
    <%= f.input :article_list_banner_after %>
    <%= f.input :article_list_banner_body %>
  <% end %>

  <%= f.inputs "Верхнее меню" do %>
    <li>
      <label>Введите url элемента меню</label>
      <%= text_field_tag 'url', '', name: nil, id: 'top-menu-url-field' %>
    </li>
    <li>
      <label>&nbsp;</label>
      <div id="top-menu-edit-block">
        <%= link_to "Добавить элемент", '#', class: 'admin-add-menu-element-link' %>
        <%= f.hidden_field :top_menu, value: (resource.top_menu['items'] and resource.top_menu['items'].map { |item| item_for_form(item) }.to_json) %>
        <div class="menu-edit-area"></div>
      </div>
    </li>
  <% end %>

  <%= f.inputs "Нижнее меню" do %>
    <li>
      <label>Введите url элемента меню</label>
      <%= text_field_tag 'url', '', name: nil, id: 'bottom-menu-url-field' %>
    </li>
    <li>
      <label>&nbsp;</label>
      <div id="bottom-menu-edit-block">
        <%= link_to "Добавить элемент", '#', class: 'admin-add-menu-element-link' %>
        <%= f.hidden_field :bottom_menu, value: (resource.bottom_menu['items'] and resource.bottom_menu['items'].map { |item| item_for_form(item) }.to_json) %>
        <div class="menu-edit-area"></div>
      </div>
    </li>
  <% end %>

  <%= f.actions %>
<% end %>