<%= semantic_form_for [:admin, resource] do |f| %>
	<%= f.inputs do %>
		<%= f.input :body %>
		<li class="comment-versions">
			<label>Предыдущие версии:</label>
			<br>
			<% resource.texts_versions.reverse.each do |version| %>
				<p><%= version[:body] %></p>
			<% end %>
		</li>
	<% end %>
	<%= f.actions %>
<% end %>