<div class="comment-tree">
	<div class="comment">
		<%= image_tag(comment.author.avatar.thumb, class: 'avatar left') %>
		<div>
			<div class="comment-author-name">
				<% if comment.author.social_auth %>
					<%= image_tag(asset_path("#{comment.author.social_auth.provider}_icon.png")) %>
					<%= link_to comment.author.name, comment.author.social_url, class: 'name' %>
				<% else %>
					<span class="name"><%= comment.author.name %></span>
				<% end %>
				<span class="date"><%= comment.created_at.strftime("%d.%m.%Y %H:%M") %></span>
			</div>
			<p><%= comment.body %></p>

			<div class="comment-reply-block <%= can?(:create, Comment) || 'hidden' %>">
				<p><%= link_to "ответить", '#', class: 'comment-reply-link blue-link' %></p>
				<%= form_for comment.children.build(topic: comment.topic), html: { class: 'hidden' } do |f| %>
					<%= f.text_area :body %>
					<%= f.hidden_field :ancestry %>
					<%= f.hidden_field :topic_id %>
					<%= f.hidden_field :topic_type %>
					<%= f.submit "откомментировать" %>
				<% end %>
			</div>
			<% unless can?(:create, Comment) %>
				<% if current_user and current_user.need_info? %>
					<p class="notice"><%= link_to "Заполните информацию в личном кабинете", edit_user_path, class: 'blue-link' %></p>
				<% else %>
					<p class="notice"><%= link_to "Войти, чтобы ответить", '#', class: 'login-link blue-link' %></p>
				<% end %>
			<% end %>
		</div>
		<div class="clear"></div>
	</div>
	<% comment.children.each do |comment| %>
		<%= render 'comments/item', comment: comment %>
	<% end %>
</div>