<% if @afisha_articles.any? %>
<div class="afisha">
	<div class="left afisha-description">
		<%= link_to event_articles_path do %>
			<h2>Афиша событий</h2>
		<% end %>
		<img src="" />
	</div>
	<div class="right afisha-list">
		<% @afisha_articles.each do |event_article| %>
			<div class="afisha-item" data-item-image-url="<%= event_article.head_image.afisha.url %>">
				<div class="icon left"></div>
				<span class="month-day-date"><%= Russian.strftime(event_article.target_at, "%d/%m") %></span>
				<span class="week-day"><%= Russian.strftime(event_article.target_at, "%a") %></span>
				<%= slugged_link_to event_article.title, event_article, class: 'afisha-link' %>
			</div>
		<% end %>
	</div>
	<div class="clear"></div>
</div>
<% end %>

<div class="afisha-purple-line"></div>