<% @hide_top = true %>
<% content_for :without_aside do %>
	<div id="profile">
		<%= render 'menu', current: :password %>
		<div class="profile-top-avatar">
			<%= image_tag(current_user.avatar.url, class: 'left') %>
			<h1 class="left bottom-line">Привет друг!</h1>
		</div>
		<div class="right" id="profile-content">
			<%= semantic_form_for @user, url: profile_password_path, method: :post do |f| %>
				<div class="field">
					<%= f.password_field :old_password, 'data-placeholder' => "Введите старый пароль", class: 'required' %>
					<%= f.semantic_errors :old_password %>
				</div>
				
				<div class="field">
					<%= f.password_field :password, 'data-placeholder' => "Введите новый пароль", class: 'required' %>
					<%= f.semantic_errors :password %>
				</div>

				<div class="field">
					<%= f.password_field :password_confirmation, 'data-placeholder' => "Введите новый пароль ещё раз", class: 'required' %>
				</div>

				<%= f.submit "Сохранить" %>
			<% end %>
		</div>
		<div class="clear"></div>
	</div>
<% end %>