<div class="hidden">
	<%# to update after login by ajax %>
	<%= csrf_meta_tags %>
</div>

<div id="message-dialog" class="hidden dialog closable">
	<%= link_to "X", '#', class: 'close-link right' %>
	<div class="dialog-title"></div>
	<h2></h2>
	<p></p>
</div>

<div id="email-dialog" class="hidden dialog">
	<div class="dialog-title">Для продолжения введите ваш e-mail</div>
	<%= form_tag update_user_email_path, method: :put, remote: true do |f| %>
		<div class="wrapper">
			<div id="email-dialog-message">
				Для работы с сайтом нам необходим адрес вашей элекронной почты
			</div>
			<%= email_field_tag :email, '', autocomplete: 'off', 'data-placeholder' => "Введите email" %>
			<%= submit_tag "Отправить" %>
		</div>
		<div class="clear"></div>
	<% end %>
</div>

<div id="cropping-dialog" class="dialog hidden closable">
	<%= link_to "X", '#', class: 'close-link right' %>
	<div class="dialog-title">Выделите участок для вашего аватара</div>
	<%= image_tag TemporaryAvatar.last.avatar.url, class: 'source-image left' %>
	<%= form_tag profile_avatar_path, method: :post, class: 'left' do %>
		<div id="avatar-cropping-preview">
			<img src="#" />
		</div>
		<%= hidden_field_tag :temporary_avatar_id %>
		<%= hidden_field_tag :x %>
		<%= hidden_field_tag :y %>
		<%= hidden_field_tag :width %>
		<%= hidden_field_tag :height %>
		
		<%= submit_tag "Сохранить" %>
	<% end %>
</div>

<div id="login-dialog" class="hidden dialog closable">
	<%= link_to "X", '#', class: 'close-link right' %>
	<div class="dialog-title">Вход на сайт</div>
	<div class="login-kind-title">Войти как пользователь:</div>
	<div class="social-login">
		<%= content_tag :a, href: oauth_login_path(provider: 'facebook') do %>
			<%= image_tag(asset_path('facebook_icon.png')) %>
			Facebook
		<% end %>

		<%= content_tag :a, href: oauth_login_path(provider: 'vk') do %>
			<%= image_tag(asset_path('vkontakte_icon.png')) %>
			ВКонтакте
		<% end %>
	</div>

	<p id="login-dialog-message">
		Если вы зарегистрированы в одной из этих сетей,
		то вы можете войти используя имеющийся аккаунт.
	</p>

	<div class="login-kind-title">Войти по логину Event.ru:</div>

	<%= form_tag user_session_path, method: :post, remote: true do |f| %>
		<div class="left">
		<%= email_field_tag :email, '', autocomplete: 'off', 'data-placeholder' => "Введите email" %>
		<div class="remember-me-block">
			<%= check_box_tag :remember_me %>
			<label for="remember_me">Запомнить?</label>
		</div>
		<%= submit_tag "Готово!" %>
		</div>
		<div class="right">
		<%= password_field_tag :password, '', 'data-placeholder' => "Введите пароль" %>
		<%= link_to "Забыли пароль?", '#', class: 'reset-password-link' %>
		</div>
		<div class="clear"></div>
	<% end %>

	<p class="register-notice">
		У вас ещё нет логина на Event.ru? <br />
		<%= link_to "Зарегистрироваться", '#', class: 'register-link' %>
	</p>
</div>

<div id="register-dialog" class="hidden dialog closable">
	<%= link_to "X", '#', class: 'close-link right' %>
	<div class="dialog-title"><!-- replaced dynamically --></div>
	<%= form_for User.new(email: (params[:user] and params[:user][:email])), remote: true do |f| %>
		<div class="left">
			<%= f.email_field :email, autocomplete: 'off', 'data-placeholder' => "Введите email" %>
			<%= text_field_tag :captcha, '', 'data-placeholder' => "Введите слово с картинки" %>
			<%= f.submit "Зарегистрироваться" %>
		</div>
		<div class="right">
			<p id="register-dialog-message"></p>
			<div class="captcha-block">
				<%= captcha_tag %>
				<%= link_to image_tag(asset_path("refresh_act.png")), '#', class: 'reload-captcha-link' %>
			</div>
		</div>
		<div class="clear"></div>
	<% end %>
</div>

<div id="reset-password-dialog" class="hidden dialog closable">
	<%= link_to "X", '#', class: 'close-link right' %>
	<div class="dialog-title">Восстановление пароля</div>
	<%= form_tag password_resets_path, method: :post, remote: true do |f| %>
		<div class="wrapper">
			<div id="email-dialog-message">
				Введите свой email, на который будут высланы инструкции по
				восстановлению пароля
			</div>
			<%= email_field_tag :email, '', autocomplete: 'off', 'data-placeholder' => "Введите email" %>
			<%= submit_tag "Восстановить" %>
		</div>
		<div class="clear"></div>
	<% end %>
</div>

<div id="subscribe-dialog" class="hidden dialog closable">
	<%= link_to "X", '#', class: 'close-link right' %>
	<div class="dialog-title">Для продолжения введите ваш e-mail</div>
	<%= form_for Subscription.new, remote: true do |f| %>
		<div class="left">
			<%= f.hidden_field :kind %>
			<%= f.hidden_field :print_versions_by_courier %>
			<%= email_field_tag :email, '', autocomplete: 'off', 'data-placeholder' => "Введите email" %>
			<%= text_field_tag :captcha, '', 'data-placeholder' => "Введите слово с картинки" %>
			<%= f.submit "Поехали!" %>
		</div>
		<div class="right">
			<p id="subscribe-dialog-message">
				Введите ваш email и код подтверждения
			</p>
			<div class="captcha-block">
				<%= captcha_tag %>
				<%= link_to image_tag(asset_path("refresh_act.png")), '#', class: 'reload-captcha-link' %>
			</div>
		</div>
		<div class="clear"></div>
	<% end %>
</div>