<% url ||= full_url %>
<div class="social-share-line" data-id="<%= subject.id %>" data-kind="<%= subject.class.name %>">
  <a class="fb share" href="http://www.facebook.com/share.php?u=<%=u url %>" data-service="Facebook">
    <%= subject.fb_shares_count %>
  </a>
  <a class="vk share" href="http://vkontakte.ru/share.php?url=<%=u url %>" data-service="Vkontakte">
    <%= subject.vk_shares_count %>
  </a>
  <a class="twitter share" href="http://twitter.com/home?status=<%=u subject.title %>+<%=u url %>" data-service="Twitter">
    <%= subject.twitter_shares_count %>
  </a>
  <a class="gplus share" href="https://plus.google.com/share?url=<%=u url %>" data-service="Google+">
    <%= subject.gplus_shares_count %>
  </a>
  <a class="mailru share" href="http://connect.mail.ru/share?url=<%=u url %>&comment=<%=u subject.title %>" data-service="MailRu">
    <%= subject.mailru_shares_count %>
  </a>
</div>
