 <div id="top-menu">
	<div id="dialog-overlay"></div>
	<div id="menu-nav-list">
		<%= link_to image_tag(asset_path('menu_logo.png')), root_path, class: 'menu-nav-item left menu-logo' %>

		<div class="right menu-right">
			<% [NewsArticle, EventArticle, InterviewArticle, CompanyArticle, OverviewArticle].each do |klass| %>
				<%= link_to t("articles.category.#{klass.name}"), articles_path_for_article_class(klass), class: ['menu-nav-item', (active_menu_category?(klass) ? 'active' : '')].join(' ') %>
			<% end %>

			<%= link_to "Мнения", polls_path, class: ['menu-nav-item', (active_menu_polls? ? 'active' : '')].join(' ') %>

			<% [TripArticle, ReportArticle].each do |klass| %>
				<%= link_to t("articles.category.#{klass.name}"), articles_path_for_article_class(klass), class: ['menu-nav-item', (active_menu_category?(klass) ? 'active' : '')].join(' ') %>
			<% end %>

			<%= link_to "TV", tv_articles_path, class: ['menu-nav-item', (active_menu_category?(TvArticle) ? 'active' : '')].join(' ') %>
			<%= link_to "Спецпроекты", '#', class: 'menu-nav-item' %>
		</div>
		<div class="clear"></div>
	</div>
</div>