<!DOCTYPE html>
<html>
<head>
	<title>EventRu</title>
	<%= stylesheet_link_tag "application", media: "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/top_menu' %>

<div id="main-column">
	
	<% unless @hide_top %>
		<div id="header">
			<div id="utmost-left-block" class="left">
				<div class="city-name left">МОСКВА</div>
				<div class="temperature right">+20</div>
				<%= image_tag(asset_path('samples/weather.png'), class: 'right') %>
				<div class="clear"></div>
				<div class="left current-time"></div>
				<div class="right current-date">
					<%= Russian.strftime(Date.today, "%e %B").capitalize %>
					<div class="week-day"><%= Russian.strftime(Date.today, "%A") %></div>
				</div>
			</div>

			<div id="left-block" class="left">
				<% if @site_config and @site_config.actual_article %>
					<%= content_tag(:a, href: url_for(@site_config.actual_article)) do %>
						<div class="actual-today">Актуально сегодня:</div>
						<p><%= @site_config.actual_article_description %></p>
					<% end %>
				<% end %>
			</div>

			<div id="utmost-right-block" class="right">
				<div id="auth-block">
					<%= render 'shared/auth_block' %>
				</div>

				<%= form_tag '#', id: 'search-form' do %>
					<%= text_field_tag :query, '', class: 'left', 'data-placeholder' => "Поиск по сайту" %>
					<%= submit_tag '', class: 'right' %>
					<div class="clear"></div>
				<% end %>
			</div>

			<div id="right-block" class="right">
				<% if issue = Issue.current %>
					Новый номер
					<%= link_to issue.name, '#', class: 'issue-link' %>
					<%= issue.to_s %>
					<%= link_to "Подписаться", new_subscription_path, class: 'subscribe-link' %>
				<% end %>
			</div>

			<%= link_to image_tag(asset_path('logo.png')), root_path, id: :logo %>
			<div class="clear"></div>
			<%= link_to image_tag(asset_path('subscribe_aside.png')), new_subscription_path, class: 'subscribe-aside-link' %>
			
		</div>
	<% end %>

	<% if content_for? :without_aside %>
		<%= yield :without_aside %>
	<% else %>
		<% unless @hide_top %>
		<%= link_to image_tag(asset_path('samples/banner950x80.jpg')), "http://www.graylinenicaragua.com/", id: 'top-banner' %>
		<% end %>

		<div id="left-column" class="left">
			<%= yield %>
		</div>
		
		<%= render 'shared/right_column' %>
		<div class="clear"></div>
	<% end %>
</div>

<div id="wide-footer">
	<div class="center-container">
		<%= yield(:wide_footer) %>
		<div class="clear"></div>
		<div class="reports">
			<h2><%= link_to t("articles.category.ReportArticle"), report_articles_path %></h2>
			<div class="list">
				<% Article.first(4).each do |article| %>
					<div class="item left">
						<%= link_to image_tag(article.head_image.footer), article %>
						<%= link_to article.title, article, class: 'report-link' %>
					</div>
				<% end %>
				<div class="clear"></div>
			</div>
		</div>
		
		<div class="line"></div>
		<div class="bottom-menu left">
			<% Page.all.each do |page| %>
				<%= link_to page.name, page %>
			<% end %>
		</div>
		<div class="bottom-description right">
			<h2 class="left">Спецпроекты:</h2>
			<%= link_to image_tag(asset_path('bottom_spec_project1.png')), '#', class: 'left' %>
			<%= link_to image_tag(asset_path('bottom_spec_project2.png')), '#', class: 'left' %>
			<%= link_to image_tag(asset_path('bottom_spec_project3.png')), '#', class: 'left' %>
			<%= link_to image_tag(asset_path('bottom_spec_project1.png')), '#', class: 'left' %>
			<div class="clear"></div>
			<p>Публикация материалов с сайта возможна с указанием ссылки на источник: сайт Event.ru и имя автора. Сайт может содержать контент не предназначенный для лиц младше 16 лет.</p>
			<p>© 2006-2012. Все права защищены.</p>
		</div>
		<div class="clear"></div>
	</div>
</div>
<div id="tight-footer">
	<div class="center-container">
		<%= link_to image_tag(asset_path('bottom_logo.png')), root_path, class: 'left' %>
		<%= link_to image_tag(asset_path('samples/bottom_sponsor_logo.png')), '#', class: 'right' %>
		<p class="bottom-sponsor-description">
			Генеральный спонсор информационного портала - WE CAN GROUP
		</p>
		<div class="clear"></div>
	</div>
</div>

</body>
</html>
