<!DOCTYPE html>
<html>
  <head>
    <% @seo_tags = {} if @seo_tags.nil? %>
    <title><%= @seo_tags[:title] %></title>
    <meta name="description" content="<%= @seo_tags[:description] %>">
    <meta name="keywords" content="<%= @seo_tags[:keywords] %>">

    <!-- start social meta -->
    <meta property="og:image" content="<%= URI.join(host_path, @seo_tags[:image].to_s) if @seo_tags[:image] %>"/>
    <meta property="og:title" content="<%= @seo_tags[:title] %>"/>
    <meta property="og:description" content="<%= @seo_tags[:description] %>"/>
    <meta property="og:url" content="<%= full_url %>"/>
    <meta property="og:site_name" content="EventRu"/>
    <meta property="og:type" content="website"/>
    <!-- end social meta -->

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= render 'shared/top_menu' %>

    <div id="main-column">
      
      <% unless @hide_top %>
	<div id="header">
	  <div id="utmost-left-block" class="left">
	  	<div class="hidden">
		    <div class="city-name left">МОСКВА</div>
		    <div class="temperature right">+20</div>
		    <%= image_tag(asset_path('samples/weather.png'), class: 'right') %>
		    <div class="clear"></div>
		</div>
	    <div class="current-time"></div>
	    <div class="current-date">
	      <%= Russian.strftime(Date.today, "%e %B").capitalize %>,
	      <span class="week-day"><%= Russian.strftime(Date.today, "%A") %></span>
	    </div>
	  </div>

	  <div id="left-block" class="left">
	    <% if @site_config and @site_config.actual_article %>
	      <%= content_tag(:a, href: url_for(@site_config.actual_article)) do %>
		<div class="actual-today">Актуально сегодня:</div>
		<p><%= @site_config.actual_article_description %></p>
	      <% end %>
	    <% end %>
	  </div>

	  <div id="utmost-right-block" class="right">
	    <div id="auth-block">
	      <%= render 'shared/auth_block' %>
	    </div>

	    <%= form_tag '#', id: 'search-form' do %>
	    <%= text_field_tag :query, '', class: 'left', 'data-placeholder' => "Поиск по сайту" %>
	    <%= submit_tag '', class: 'right' %>
	    <div class="clear"></div>
      <% end %>
      </div>

      <div id="right-block" class="right">
	<% if issue = Issue.current %>
	  Новый номер
	  <%= link_to issue.name, '#', class: 'issue-link' %>
	  <%= issue.to_s %>
	  <%= link_to "Подписаться", new_subscription_path, class: 'subscribe-link' %>
	<% end %>
      </div>

      <%= link_to image_tag(asset_path('logo.png')), root_path, id: :logo %>
      <div class="clear"></div>
      <%= link_to image_tag(asset_path('subscribe_aside.png')), new_subscription_path, class: 'subscribe-aside-link' %>
      <div id="left-banner">
	<!--  AdRiver code START. Type:100x100 Site: Event.ru PZ: 1 BN: 0 -->
	<script language="javascript" type="text/javascript"><!--
				var RndNum4NoCash = Math.round(Math.random() * 1000000000);
				var ar_Tail='unknown'; if (document.referrer) ar_Tail = escape(document.referrer);
				document.write(
				'<iframe src="http://ad.adriver.ru/cgi-bin/erle.cgi?'
				+ 'sid=189350&target=blank&bt=2&pz=1&rnd=' + RndNum4NoCash + '&tail256=' + ar_Tail
				+ '" frameborder=0 vspace=0 hspace=0 width=100 height=100 marginwidth=0'
				+ ' marginheight=0 scrolling=no></iframe>');
				//--></script>
				<noscript>
				<a href="http://ad.adriver.ru/cgi-bin/click.cgi?sid=189350&bt=2&pz=1&rnd=1787868296" target=_blank>
				<img src="http://ad.adriver.ru/cgi-bin/rle.cgi?sid=189350&bt=2&pz=1&rnd=1787868296" alt="-AdRiver-" border=0 width=100 height=100></a>
				</noscript>

				<!--  AdRiver code END  -->
			</div>
			<div id="left-social-line">
				<%= link_to "", EventRu::Links::Facebook, class: 'fb' %>
				<%#= link_to "", EventRu::Links::Vkontakte, class: 'vk' %>
				<%#= link_to "", EventRu::Links::Twitter, class: 'twitter' %>
				<%= link_to "", EventRu::Links::MailRu, class: 'mailru register-link' %>
				<%#= link_to "", EventRu::Links::GooglePlus, class: 'gplus' %>
			</div>
		</div>
	<% end %>

	<% if content_for? :without_aside %>
		<%= yield :without_aside %>
	<% else %>
		<% unless @hide_top %>
		<div id="top-banner">
			<!--  AdRiver code START. Type:950x80 Site: Event.ru PZ: 1 BN: 0 -->
			<script language="javascript" type="text/javascript"><!--
			var RndNum4NoCash = Math.round(Math.random() * 1000000000);
			var ar_Tail='unknown'; if (document.referrer) ar_Tail = escape(document.referrer);
			document.write(
			'<iframe src="http://ad.adriver.ru/cgi-bin/erle.cgi?'
			+ 'sid=189350&target=blank&bt=41&pz=1&rnd=' + RndNum4NoCash + '&tail256=' + ar_Tail
			+ '" frameborder=0 vspace=0 hspace=0 width=970 height=90 marginwidth=0'
			+ ' marginheight=0 scrolling=no></iframe>');
			//--></script>
			<noscript>
			<a href="http://ad.adriver.ru/cgi-bin/click.cgi?sid=189350&bt=41&pz=1&rnd=1983407012" target=_blank>
			<img src="http://ad.adriver.ru/cgi-bin/rle.cgi?sid=189350&bt=41&pz=1&rnd=1983407012" alt="-AdRiver-" border=0 width=970 height=90></a>
			</noscript>

			<!--  AdRiver code END  -->
		</div>
		<% end %>

		<div id="left-column" class="left">
			<%= yield %>
		</div>
		
		<%= render 'shared/right_column' %>
		<div class="clear"></div>
	<% end %>
</div>

<div id="wide-footer">
	<div class="center-container">
		<%= yield(:wide_footer) %>
		<div class="clear"></div>
		<% if reports = ReportArticle.first(4) and reports.any? %>
			<div class="reports">
				<h2><%= link_to "REPORTАЖИ", report_articles_path %></h2>
				<div class="list">
					<% reports.each do |article| %>
						<div class="item left">
							<%= link_to image_tag(article.head_image.footer), article %>
							<%= link_to article.title, article, class: 'report-link' %>
						</div>
					<% end %>
					<div class="clear"></div>
				</div>
			</div>
			<div class="line"></div>
		<% end %>
		
		<div class="bottom-menu left">
			<% Page.all.each do |page| %>
				<%= link_to page.name, page %>
			<% end %>
		</div>
		<div class="bottom-description right">
			<h2 class="left">Спецпроекты:</h2>
			<span class="conf left"></span>
			<span class="tv left"></span>
			<span class="fest left"></span>
			<%#= link_to '', '#', class: 'conf left' %>
			<%#= link_to '', '#', class: 'box left' %>
			<%#= link_to '', '#', class: 'tv left' %>
			<%#= link_to '', '#', class: 'umbrella left' %>
			<%#= link_to '', '#', class: 'fest left' %>
			<div class="clear"></div>
			<p>Публикация материалов с сайта возможна только с письменного согласия редакции.</p>
			<p>Сайт может содержать информацию не предназначенную для лиц младше 18 лет.</p>
			<p>© 2004</p>
		</div>
		<div class="clear"></div>
	</div>
</div>
<div id="tight-footer">
	<div class="center-container">
		<%= link_to image_tag(asset_path('bottom_logo.png')), root_path, class: 'left' %>
		<div class="right" id="bottom-banner">
			<!--  AdRiver code START. Type:150x60 Site: Event.ru PZ: 3 BN: 0 -->
			<script language="javascript" type="text/javascript"><!--
			var RndNum4NoCash = Math.round(Math.random() * 1000000000);
			var ar_Tail='unknown'; if (document.referrer) ar_Tail = escape(document.referrer);
			document.write(
			'<iframe src="http://ad.adriver.ru/cgi-bin/erle.cgi?'
			+ 'sid=189350&target=blank&bt=9&pz=3&rnd=' + RndNum4NoCash + '&tail256=' + ar_Tail
			+ '" frameborder=0 vspace=0 hspace=0 width=150 height=60 marginwidth=0'
			+ ' marginheight=0 scrolling=no></iframe>');
			//--></script>
			<noscript>
			<a href="http://ad.adriver.ru/cgi-bin/click.cgi?sid=189350&bt=9&pz=3&rnd=261181063" target=_blank>
			<img src="http://ad.adriver.ru/cgi-bin/rle.cgi?sid=189350&bt=9&pz=3&rnd=261181063" alt="-AdRiver-" border=0 width=150 height=60></a>
			</noscript>

			<!--  AdRiver code END  -->
		</div>
		<p class="bottom-sponsor-description">
			Генеральный партнер сайта Event.ru - WE CAN GROUP
		</p>
		<div class="clear"></div>
	</div>
</div>

</body>
</html>
