<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title><%= message.subject %></title>
</head>
<body>
<!-- Wrapper/Container Table: Use a wrapper table to control the width and the background color consistently of your email. Use this approach instead of setting attributes on the body tag. -->
<table cellpadding="0" cellspacing="0" border="0" id="backgroundTable">
	<tr>
		<td valign="top"> 
		<!-- Tables are the most common way to format your email consistently. Set your table widths inside cells and in most cases reset cellpadding, cellspacing, and border to zero. Use nested tables as a way to space effectively in your message. -->
		<table cellpadding="0" cellspacing="0" border="0" align="center">
			<tr>
				<td width="640" valign="top" id="main" style="font-family: sans-serif">
					<%= yield %>
				</td>
			</tr>
		</table>
		<!-- End example table -->
		</td>
	</tr>
	<tr>
		<td height="94" style="background-color: #191919;">
			<table cellpadding="0" cellspacing="0" border="0" align="center">
				<tr>
					<td width="640" valign="top" style="font-family: sans-serif; font-size: 12px; color: white">
						<%= image_tag "#{root_url}/#{asset_path("notify-bottom-logo.png")}", class: 'image_fix', width: 160, height: 94, style: "float: left" %>
						<p style="width: 450px; margin-left: 190px">
							Вы получили данное письмо, т.к. являетесь
							зарегистрированным пользователем сайта <%= link_to "Event.ru", root_url, style: "color: #ed335a" %>
						</p>
						<p style="width: 450px; margin-left: 190px">
							Если Вы больше не хотите получать рассылку,
							зайдите в <%= link_to "Личный кабинет", edit_user_url, style: "color: #ed335a" %> и уберите галочку
							напротив данного уведомления.
						</p>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>  
<!-- End of wrapper table -->
</body>
</html>